<h2>Log into your account.</h2>
<h3>Please fill out the following fields to login.</h3>
<form method="POST" action="/login">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Login">
</form>
<a href="/">Back</a>